<header class="">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto p-4"><a href="index.html"
        class="flex items-center space-x-3 rtl:space-x-reverse"><img src="https://img.logoipsum.com/289.svg" class="h-8"
          alt="Flowbite Logo" /></a>
      <div class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
        <a href="index.html"
          class="text-gray-800  hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5  focus:outline-none "><i
            class="fa-solid fa-magnifying-glass"></i></a>
        <a href="#"
          class="text-gray-800  hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5  focus:outline-none "><i
            class="fa-solid fa-heart"></i></a>
        <a href="#"
          class="text-gray-800  hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5  focus:outline-none "><i
            class="fa-brands fa-opencart"></i></a>
        <a href="/signin"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5  focus:outline-none ">Login
        </a><button data-collapse-toggle="mega-menu" type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
          aria-controls="mega-menu" aria-expanded="false"><span class="sr-only">Open main
            menu</span><svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg></button>
      </div>
      <div id="mega-menu" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
        <ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
          <li><a href="index.html"
              class="block py-2 px-3 text-blue-600 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 "
              aria-current="page">Home</a></li>
          <li><button id="mega-menu-dropdown-button" data-dropdown-toggle="mega-menu-dropdown"
              class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 ">Company
              <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 4 4 4-4" />
              </svg></button>
            <div id="mega-menu-dropdown"
              class="absolute z-10 hidden w-auto grid grid-cols-2 text-sm bg-white border border-gray-100 rounded-lg shadow-md dark:border-gray-700 md:grid-cols-3 ">
              <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
                <ul class="space-y-4" aria-labelledby="mega-menu-dropdown-button">
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">About
                      Us
                    </a></li>
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">Library
                    </a></li>
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">Resources
                    </a></li>
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">Pro
                      Version </a></li>
                </ul>
              </div>
              <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
                <ul class="space-y-4">
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">Blog
                    </a></li>
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">Newsletter
                    </a></li>
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">Playground
                    </a></li>
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">License
                    </a></li>
                </ul>
              </div>
              <div class="p-4">
                <ul class="space-y-4">
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">Contact
                      Us </a></li>
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">Support
                      Center </a></li>
                  <li><a href="#"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">Terms
                    </a></li>
                </ul>
              </div>
            </div>
          </li>
          <li><a href="#"
              class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Team</a>
          </li>
          <li><a href="#"
              class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet />
</main>
<footer class=" bg-black text-gray-200 ">
  <div class="mx-20 pt-10">
    <div class="grid grid-cols-3 gap-8 py-10">
      <div class="">
        <img src="https://img.logoipsum.com/289.svg" alt="" class="h-[100px]">
        <p class="my-4"><i class="fa-solid fa-phone-volume mr-3 text-lg"></i>(456) 3456789</p>
        <p class="my-4"><i class="fa-regular fa-envelope mr-3 text-lg"></i>ghty45 gmail.com</p>
        <p class="my-4"><i class="fa-solid fa-location-dot mr-3 text-lg"></i>Hamlet 3, Hiep Phuoc village,
          Nhon
          Trach
          district, Dong
          Nai
          province.</p>
      </div>
      <div class="grid grid-cols-2 gap-8">
        <div>
          <h2 class="mb-6 text-md font-semibold text-white">Company</h2>
          <ul class="">
            <li class="mb-4">
              <a href="#" class=" hover:underline">About</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Careers</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Brand Center</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Blog</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Blog</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-md font-semibold text-white">Help center</h2>
          <ul class="">
            <li class="mb-4">
              <a href="#" class="hover:underline">Discord Server</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Twitter</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Facebook</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Contact Us</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Contact Us</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="">
        <h2 class="mb-6 text-md font-semibold text-white">Subscribe</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quia temporibus eveniet a
          libero incidunt suscipit laborum, rerum accusantium modi quidem, ipsam illum quis sed voluptatum
          quae eum fugit earum.</p>
        <form class="max-w-md mx-auto my-4">
          <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-6 h-6 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                  d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z" />
              </svg>

            </div>
            <input type="search" id="default-search"
              class="block w-full p-4 ps-10 text-sm text-gray-200 border border-gray-300 rounded-lg bg-transparent focus:ring-blue-500 focus:border-blue-500"
              placeholder="Your email" required />
            <button type="submit"
              class="text-gray-200 absolute end-2 bottom-2.5 bg-transparent border-[3px] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-[4px] ">
              <svg class="w-6 h-6 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4" />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
    <hr class="text-gray-700">
    <div class="grid grid-cols-3 items-center py-4">
      <div class="flex *:text-2xl *:pr-4">
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-visa"></i>
      </div>
      <p>© 2023 Flowbite™. All Rights Reserved.</p>
      <div class="flex *:text-2xl justify-end *:pl-4">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
      </div>
    </div>
  </div>
</footer>