<form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto my-44">
  <h2 class="text-center my-5 font-bold text-2xl">Signin</h2>
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
    <input type="email" id="email" formControlName="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="name@flowbite.com" required />
    <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched )"
      class="*:text-red-700 my-4">
      <span *ngIf="form.get('email')?.hasError('required')">Email bắt buộc</span>
      <span *ngIf="form.get('email')?.hasError('email')">Email k đúng định dạng</span>
    </div>
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
    <input type="password" id="password" formControlName="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required />
    <div *ngIf="form.get('password')?.invalid && ( form.get('email')?.dirty || form.get('email')?.touched)"
      class="text-red-700 my-4">
      <span *ngIf="form.get('password')?.hasError('required') ">Password k đc để trống</span>
      <span *ngIf="form.get('password')?.hasError('minlength') ">Password phải đủ 6 ký tự</span>
    </div>
  </div>
  <div class="flex items-center mb-5">

    <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Bạn chưa có tài khoản ?
    </label><a href="/signup" class="font-bold ms-5">Đăng Ký</a>
  </div>
  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>